@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

body {
   background-color: #F8FAFB;
   font-family: 'Open Sans', sans-serif;
   padding-top: 0%;
}


.description {
   font-family: 'Fredericka the Great', cursive;
   text-align: center;
}

.card {
   border-radius: 8pt;
   border-style: none;
   overflow: hidden;
   transform: scale(0.8);
   width: 250px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#gif-here{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

  
  .animalButton {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 100px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    background-image: linear-gradient(to right, rgb(99, 0, 25) 0%, #F7BB97 51%, #DD5E89 100%);
}
   .animalButton:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}


.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  position: relative;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }
  .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

  .search_icon{
    height: 40px;
    width: 40px;
    /*float: right;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    position: absolute;
    top:10px;
    right:0;
    }
